* {
    font-family: Ellipsis, Cyrillic, "ＭＳ Pゴシック", "MS PGothic", sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(52, 48, 58);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    gap: 20px;
}

span {
    font-size: 18px;
}

a {
    color: white;
}